TapJam000/UserSettings/Layouts/default-2022.dwlt
TapJam000/UserSettings/Search.settings

TapJam000/ProjectSettings/CommonBurstAotSettings.json
TapJam000/ProjectSettings/BurstAotSettings_StandaloneWindows.json